/* Global Styles */
* {
  background-color: #95e2e7;
}

* {
  font-family: 'Times New Roman', Arial, sans-serif;
  color: #000000;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  text-align:center;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 20px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #008892;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

/* Input */

input {
  font-size: 12px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #40777a;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 16px;
  cursor: default;
  background-color: #008892;
  color: rgb(0, 0, 0);
  border: inset;
}

.button:hover,
button:hover {
  opacity: 1;
  font-weight: bolder;
}

.button:disabled,
button:disabled {
  opacity: 0.6;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: #008892;
  color: #000000;
}

.fancy-button i.material-icons {
  color: #000000;
  padding-right: 10px;
  background-color: #008892;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #000000;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: #008892;
  background-color: black;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #008892;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/